@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    font-size: 2em;
    text-align: center;
    font-family: 'Mallanna', sans-serif;
    color: #404040;
    background-color: #f7f7f7;
}

h1 {
    font-family: 'Quando', serif;
    font-weight: normal;
    font-size: 3.5rem;
}

#numberTries span, #numberCandies span {
    font-size: 2.5rem;
}

#printResult {
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

#printCounter, #clickCount, #candyCount {
    font-weight: bold;
    font-size: 2rem;
}

#explanation {
    margin: 0;
}


span {
    font-size: 1.8rem;
    padding-bottom: 0;
}

.instruction {
    font-size: 2rem;
    padding: 25px 0;
}

#character {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleImg {
    width: 50px;
}

.imageStatic, .imageShame, .imageHappy {
    max-width: 100%;

}

.imageStatic {
    content: url("../img/static.png");
}

.imageShame {
    content: url("../img/none.png");
}

.imageHappy {
    content: url("../img/both.png");
}

#hands {

    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    top: 390px;
    z-index: 1;
    position: relative;
}

.hands div {
    background-color: transparent;
    opacity: 0;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#leftHand {
    margin-right: 110px;
    content: url("../img/candy_left.png");

    z-index: 2;
}

#rightHand {
    margin-left: 110px;
    content: url("../img/candy_right.png");

    z-index: 2;
}

#leftHand.handChanged {
    opacity: 1;
    transition: opacity 1000ms;
}

#rightHand.handChanged {
    opacity: 1;
    transition: opacity 1000ms;
}


#button {
    margin-top: 25px;
    border-radius: 5px;
    background-color: salmon;
    color: #fff;
    font-family: 'Mallanna', sans-serif;
    letter-spacing: 1.5px;
    font-size: 2rem;
    border: none;
    padding: 10px 15px;
}

#button:hover {
    background-color: #dc7068;
    color: #e0e2d8;
}

.hide {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
    transition: opacity 1000ms;
}

.fadeOut {
    opacity: 0;
    transition: opacity 10000ms;
}


@keyframes flickerAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

#leftHand.missingCandyLeft {
    content: url("../img/candy_left.png");
    background-color: transparent;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

#rightHand.missingCandyRight {
    content: url("../img/candy_right.png");
    background-color: transparent;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

#dogImg.imageShame {
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
    -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
    animation: fadein 0.2s;

}

#dogImg.imageHappy {
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
    -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
    animation: fadein 0.2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {

    .imageStatic, .imageShame, .imageHappy {
        max-width: 300px;
    }

    #character {
        margin-top: -75px;
    }

    h1 {
        font-size: 3rem;
        margin-top: 200px;
        margin-bottom: 0;
    }

    .instruction {
        font-size: 1.8rem;
    }

    #numberTries span, #numberCandies span {
        font-size: 2rem;

    }

    p {
        margin: 0;
    }

    #hands {
        top: 270px;
    }

    #leftHand {
        margin-right: 70px;
    }

    #rightHand {
        margin-left: 70px;
    }
}

